/*
Globals
*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*10px*/
}

body {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato";
}

p {
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

/*
btn-icon
*/
.btn-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  text-align: center;
  line-height: 28px;
  border-radius: 100%;
  font-size: 13px;
}

/*
HEADER
*/
header {
  background: #62346f;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header .btn-burguer {
  font-size: 4rem;
  display: none;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

header nav ul {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

header nav li {
  margin-right: 4.4rem;
}

header .list-social {
  display: flex;
  align-items: center;
}

header .list-social li {
  margin-left: 1.6rem;
  font-size: 2rem;
}

header .header-left {
  display: flex;
  align-items: center;
}

header .header-left nav {
  margin-left: 8.8rem;
}

header .logo {
  font-size: 4.2rem;
}

/*
card
*/
.card {
  position: relative;
}

.card h2 {
  font-size: 3.2rem;
  position: relative;
  align-self: flex-start;
}

.card h2::after {
  content: "";
  width: 50%;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: -14px;
  background: white;
  border-radius: 10px;
}

.card p {
  font-size: 2.6rem;
  margin-bottom: 2rem;
  padding-right: 80px;
}

.card img {
  display: block;
}

.card .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 12px 15px 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .text .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .text time {
  font-size: 1.1rem;
}

.card .list-social {
  display: flex;
}

.card .list-social li {
  margin-left: 10px;
}

.card img {
  width: 100%;
}

/*
card 2
*/
.card-2 p {
  font-size: 2rem;
  padding: 0;
  line-height: 1.2;
}

.card-2 h2:after {
  display: none;
}

.card-2 .text {
  padding: 8px;
}

.card-2 h2 {
  font-size: initial;
  align-self: flex-end;
}

.card-2 time {
  width: 100%;
  margin-bottom: 10px;
}

.card-2 .time {
  flex-wrap: wrap;
  justify-content: flex-end;
}

/*
card 3
*/
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-3 h2:after {
  display: none;
}

.card-3 h2 {
  font-size: initial;
  align-self: flex-end;
  position: absolute;
}

.card-3 .text {
  padding: 8px;
}

.card-3 p {
  font-size: 1.6rem;
  line-height: 1.1;
  margin: 0;
  padding-right: 80px;
}

.card-3 .text .time {
  align-items: flex-end;
}

/*
card 4
*/
.card-4 h2:after {
  display: none;
}

.card-4 h2 {
  font-size: initial;
  align-self: flex-end;
}

.card-4 .text {
  padding: 8px;
}

.card-4 p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding-right: 80px;
}

.card-4 .text .time {
  align-items: flex-end;
}

/*
bubble
*/
.bubble {
  font-size: 1.3rem;
  background: white;
  color: black;
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
  display: inline-block;
}

/*
COVER
*/
.cover {
  margin-bottom: 24px;
}

/*
MAIN
*/
main {
  padding: 120px 0 20px;
}

/*
news
*/
.news {
  display: flex;
}

.news .title {
  font-size: 2.8rem;
  margin-bottom: 1.4rem;
  font-weight: bold;
}

.news .card-4 {
  margin-bottom: 20px;
}

/*
present
*/
.present .row {
  flex-wrap: wrap;
}

.present .title {
  color: #7b3fb6;
}

.present .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*
most-read
*/
.most-read .title {
  color: #009d78;
}

/*
  FOOTER
*/
footer {
  background: #62346f;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.6rem;
}

/*
COLUMNS
*/
[class^="col"] {
  padding: 0 10px;
}

.row {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.67%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.67%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.67%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.67%;
}

.col-12 {
  width: 100%;
}

/*
RESPONSIVE 
*/
@media (max-width: 960px) {
  main,
  header {
    padding: 20px;
  }
}

/*TABLET*/
@media (max-width: 880px) {
  /*COLUMNS*/
  .col-tb-1 {
    width: 8.33%;
  }

  .col-tb-2 {
    width: 16.67%;
  }

  .col-tb-3 {
    width: 25%;
  }

  .col-tb-4 {
    width: 33.33%;
  }

  .col-tb-5 {
    width: 41.67%;
  }

  .col-tb-6 {
    width: 50%;
  }

  .col-tb-7 {
    width: 58.33%;
  }

  .col-tb-8 {
    width: 66.67%;
  }

  .col-tb-9 {
    width: 75%;
  }

  .col-tb-10 {
    width: 83.33%;
  }

  .col-tb-11 {
    width: 91.67%;
  }

  .col-tb-12 {
    width: 100%;
  }

  /*HEADER*/
  header nav,
  header .list-social {
    display: none;
  }

  header .btn-burguer {
    display: block;
    cursor: pointer;
  }

  header .header-left nav {
    position: absolute;
    top: 100%;
    display: block;
    margin: 0;
    background: red;
    left: 0;
    width: 100%;
    padding: 30px;
    display: none;
  }

  .show-menu header .header-left nav {
    display: block;
  }

  header nav ul {
    font-size: 2.5rem;
    display: block;
  }

  header nav li {
    margin-bottom: 20px;
  }
}

/*MOBILE*/
@media (max-width: 680px) {
  /*COLUMNS*/
  .col-mb-1 {
    width: 8.33%;
  }

  .col-mb-2 {
    width: 16.67%;
  }

  .col-mb-3 {
    width: 25%;
  }

  .col-mb-4 {
    width: 33.33%;
  }

  .col-mb-5 {
    width: 41.67%;
  }

  .col-mb-6 {
    width: 50%;
  }

  .col-mb-7 {
    width: 58.33%;
  }

  .col-mb-8 {
    width: 66.67%;
  }

  .col-mb-9 {
    width: 75%;
  }

  .col-mb-10 {
    width: 83.33%;
  }

  .col-mb-11 {
    width: 91.67%;
  }

  .col-mb-12 {
    width: 100%;
  }
}
